mixin artista-module(data, klass)
  if klass == 'tacto'
    .artista-module(class=klass)
      .artista-module__avatar
        img(src=data.avatar)
      .artista-module__details
        .artista-module__title ARTISTA
        .artista-module__name=data.nombre
  else
    a.artista-module(class=klass href="/artista")
      .artista-module__avatar
        img(src=data.avatar)
      .artista-module__details
        .artista-module__title ARTISTA
        .artista-module__name=data.nombre
