include ../icon/icon

mixin banner(title, format, color)
  .banner
    span.-top
      | #{title}
      +icon("arrow", color)
      | #{title}
      +icon("arrow", color)
      | #{title}
      +icon("arrow", color)
      | #{title}
      +icon("arrow", color)
      | #{title}
      +icon("arrow", color)
      | #{title}
      +icon("arrow", color)
      | #{title}
      +icon("arrow", color)
    if format === 'double'
      span.-bottom 
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
        | #{title}
        +icon("arrow", color)
