include ../icon/icon

mixin banner(title, color)
  .banner
    span.-top
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
    span.-bottom 
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
      | #{title}
      +icon("arrow", "#{color}")
