include ../icon/icon

mixin article(data, klass)
  a(href=data.url class=klass).article
    .article__image
      img(src=data.image)
      if data.inscripcion
        .article__inscripcion Abierta
    .article__content
      if data.categoria
        .article__category=data.categoria
      if data.fechas
        .article__date=data.fechas
      if data.titulo
        .article__title=data.titulo
      if data.descripcion
      .article__description=data.descripcion